body{
  display:flex;
  flex-flow:column;
  justify-content:space-between;
  min-height:100vh;
  margin:0px;
}
.header,
.footer{
  background:lightgrey;
  display:flex;
  justify-content:center;
}

.contents{
  align-self:center;
  display:flex;
  flex-flow:column;
  align-content:center;
}

ul{
  padding: 0 20px;

}
.scores{
  display:flex;
  align-self:center;
  justify-content:space-between;
}
.buttons{
  display:flex;
  align-self:center;
}

button{
  margin:0 5px;
}


